@CHARSET "UTF-8";
.informbox {
	position: relative;
	width: 100%;
	background: #fff;
	border: 1px solid #d3d6db;
	-webkit-border-radius: 3px;
	margin: 10px auto;
	margin-bottom: 40px;	
}

.clearfix:after {
	clear:both;
}

.informbox_header {
	padding: 12px;
	border-bottom: 1px solid #d3d6db;
	background: #f6f7f8;
	font-size: 20px;
	vertical-align: bottom;
}

.informbox_header img {
	margin-right: 10px;
}

.informbox_content {
	padding: 10px 0;

}

.informbox_content{
	background-color: white;
}
.content_inner {
	padding: 0 10px;
	float: left;
	min-width: 400px;
	height: auto;
	margin-bottom: 10px;
	width:47.5%
}

.content_inner:FIRST-CHILD {
	border-right: 1px solid #d3d6db;
}

.inform_elem {
	padding: 10px 0;
}

.inform_elem b {
	color: #9197a3;
	font-size: 13px;
}

.content_inner .status {
	vertical-align: bottom;
}

.inform_status {
	text-align: right;
}

.inform_status div {
	padding: 6px 0;
}

.inform_status a {
	text-decoration: none;
}

.inform_databox {
	overflow: hidden;
	margin-top: 8px;
	min-height: 26px;
	padding-left: 10px;
}
.informdata.profileImage{
	height:100px;width:100px;
	border: 1px dashed black;
}
.informdata {
	float: left;
}

.inform_button {
	min-height: 26px;
	float: right;
	vertical-align: top;
	display:none;
}

.inform_edit {
	clear: both;
	display: none;
}
.has-sub{
	display:none;
	position: absolute;
	border: 1px solid #777;
	background-color: #fff;
	margin-top: 2px;
}

.has-sub ul {
	list-style: none;
	width:134px;
	padding: 3px 0 4px;
	overflow-y: auto;
	
}
.has-sub .publicbtn{
	border: solid #fff;
	border-width: 1px 0;
	color: #111;
	display: block;
	font-weight: normal;
	line-height: 16px;
	padding: 1px 16px 1px 22px;
	text-decoration: none;
}
.has-sub li a.checked{
	background: url(../../../resources/media/image/checked.png) left 4px no-repeat;
}
.has-sub li a.selected{
	background-color: fuchsia;
}
.informdata.profileImage{
	width:110px;height:110px;
	font-size : 13px;
	text-align: center;
}

.informdata.profileImage img{max-width:110px;max-height:110px;}

.informdata.profileImage font{
	top: 20px;
}
input[type=text]{
	width:200px;
}

/* 글쓰기 */

#profileImageForm{position:relative;}
.dropzone{border:1px solid #dcdcdc;height:110px;width:110px;padding:2px;position:relative;}
.dropzone .help-message{position:absolute;color:#aaa;right:5px;bottom:5px;font-size:12px;}

#file-list{width:110px;height:110px;overflow:hidden;}
.profile-image-item{width:110px;height:110px;line-height:106px;text-align:center;}
.profile-image-item img{max-width:110px;max-height:110px;}

/* 
#historyImg:after{content:".";visibility:hidden;display:block;height:0;clear:both;}
#file-list li{float:left;}
 */