
@CHARSET "UTF-8";
/* 헤더/본문/푸터 의 가로 크기 */
.wrapper {
   width: 960px;
   margin: 0px auto;
}

/* 헤더의 Bar  */

#header {background-color:#7F6C62;height: 100px;width: 100%;margin: auto;opacity:0.55}
#Sil{float:left;padding-top:10px;padding-left:100px;color: #fff;font-size: 80px;margin: auto;}
#login{float:right;padding-top:20px;padding-right:50px;color: #fff;margin: auto;}
#header a:LINK {color: #fff;text-decoration: none;}
#header a:visited {color: #fff;text-decoration: none;} 
#header a:hover {color: #fff;text-decoration: none;}
#header a:active { color: #fff;text-decoration: none;}
.header-container {
   background: #00B4DB;
   height: 57px;
   color: #fff;
}

.heder-container:after {
   content: "."; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

/* 헤더에 있는 로고 */
.logo {
   width: 100px;
   float: left;
   font-size: 50px;
}

#changebgc:HOVER {
   cursor: pointer;
}

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

.green {
   background: #336666;
}

.skyblue {
   background: skyblue;
}

.red {
   background: red;
}

.orange {
   background: #f96e5b;
}

.blue {
   background: #00B4DB;
}

.yellowgreen {
   background: #a7bc7a;
}

.header-container div {
   text-align: center;
}

#menu-username {
   float: left;
   width: 200px;
   height: 50px;
   text-align: center;
   font-weight: bold;
   font-size: 30px;
   padding-top: 10px;
   text-decoration: none;
}
#menu-username a{
	   text-decoration: none;
	color: black;
}
#menu-username a:HOVER{
	   text-decoration: none;
	color: gray;

}
#menu ul.arrowunderline li a:hover {
   border-bottom: 3px solid skyblue; /* style of arrow underline */
}

#menu ul.arrowunderline li a:hover:after {
   /* use CSS generated content to add arrow to the menu */
   content: '';
   width: 0;
   height: 0;
   position: absolute;
   left: 50%;
   margin-left: -5px; /*value should match border-width below */
   bottom: 0;
   border-width: 5px; /* value should match margin-left above */
   border-style: solid;
   border-color: transparent transparent skyblue transparent;
   /* create up arrow */
}

/* 
#menu ul.arrowunderline li {
   border-right: 1px solid skyblue;
}
 */

#menu ul.arrowunderline {
   list-style-type: none;
   margin: 0;
   font-size: 15px;
      float: left;
padding-left: 90px;
}
#menu2 ul.arrowunderline {
   list-style-type: none;
   margin: 0;
   font-size: 15px;
    
}
ul.arrowunderline li {
   height: 50px;
   display: inline-block;
   margin-left: -5px;
   z-index: 2;
   /*margin-right:25px;  spacing between each menu item */

}

 ul.arrowunderline li a {
   top: 20px;
   position: relative;
  
   padding-bottom: 11px;
   /*spacing between each menu item and arrow underline beneath it */
   padding-right: 22px;
   padding-left: 22px;
   text-decoration: none;
}

#menu2 ul.arrowunderline :hover {
   background-color:#fff;
}

#menu {
   background-color: #fff;
   height: 50px;
   width: 100%;
  
   clear: both;
   z-index: -1;
   
}
#menu a{
	color: black;
	
}
#menu2 a{
	
	color: #fff;
}

#menu2 a:HOVER{
	
	color: black;
}
#menu2 { height:50px;  width:100%;position:absolute; display: none;z-index: 2;left:0; 
		} 

#menu, #menu2 {
   text-align: center;
}




.header-container a:LINK {
   color: #fff;
   text-decoration: none;
}

.header-container a:visited {
   color: #fff;
   text-decoration: none;
}

.header-container a:hover {
   color: #fff;
   text-decoration: none;
}

.header-container a:active {
   color: #fff;
   text-decoration: none;
}

body {
   background: #e9eaed;
}
