@CHARSET "UTF-8";
/*폰트 적용 */
@import url(http://api.mobilis.co.kr/webfonts/css/?fontface=NanumGothicWeb);
@font-face {font-family:'NanumGothic';
src:url('images/NanumGothic.eot');
src: url('images/NanumGothic.eot?#iefix') format('embedded-opentype'),
	url('images/NanumGothic.woff') format('woff'),
	url('images/NanumGothic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* 공통 CSS */
body {background-color: #e9eaed;	margin: 0px; padding:0px;overflow-y:scroll;}

/* 헤더/본문/푸터 의 가로 크기 */
.wrapper {width: 960px;margin: 0px auto;}
.header-container, #globalTop, .logo, #search, #infoContainer{height:55px;}

/* 헤더의 Bar  */
.header-container{color:#fff; background:#f00;}
.heder-container:after{content:".";visibility:hidden;display:block;height:0;clear:both;}

#globalTop{position:relative;}

/* 헤더에 있는 로고 */
.logo{width:70px;float:left;}
.logo a{display:block;height:inherit;font-family:'맑은 고딕';font-weight:bold;font-size:40px;}

/* 헤더 Bar에 있는 a태그 메뉴 */
.header-container a:LINK {	color: #fff; text-decoration: none;}
.header-container a:visited {color: #fff;text-decoration: none;}
.header-container a:hover {color: #fff;text-decoration: none;}
.header-container a:active {color: #fff;text-decoration: none;}

/* 상단 로그인 Form */
#loginFormContainer{position:absolute;top:5px;right:0px;}
#loginForm fieldset{border:none;margin:0px;padding:0px;}
#loginForm legend{width:0px;height:0px;text-indent:-10000px;}
#loginForm table th{text-align:left;padding-left:2px;font-size:11px;font-family:'맑은 고딕';font-weight:normal;}
#loginForm input{border:1px solid #eee;padding:2px;}
#loginForm input.input-filed{width:120px;margin-right:5px;}
#loginForm input.login-button{padding:2px 10px; width}


.main-section-container:after{content:".";visibility:hidden;display:block;height:0;clear:both;}


/* --------------------------- 로그인 됐을 때 헤더에 적용되는 CSS --------------------------- */
/* 색상변경 */
#changeBackgroundColor{position:absolute; top:0px;left:0px;font-family:'맑은 고딕';font-size:15px;width:10px;height:55px;}
#changeBackgroundColor ul li{width:10px;height:9px;}
#changeBackgroundColor ul li:first-child{height:10px;}
#changeBackgroundColor, #changeBackgroundColor ul li, #changeBackgroundColor ul li:first-child{-webkit-transition:width 200ms, height 200ms; transition:width 200ms, height 200ms;}

#changeBackgroundColor:hover{width:20px;height:180px;}
#changeBackgroundColor:hover ul li{width:20px;height:27px;}
#changeBackgroundColor:hover ul li:first-child{width:20px;height:28px;}

/* 헤더 Bar 및 사용자 지정 색상 */
.green {background: #336666;}
.skyblue {background: skyblue;}
.red {background: red;}
.orange {background:#f96e5b;}
.blue {background: #00B4DB;}
.yellowgreen {background: #a7bc7a;}


/* searchBar */
#search{float:left;padding:0px 20px;}
#searchBar{margin-top:12px;}
#search input {float:left;width:270px;}
.serch-form {width:350px;height:25px;padding-bottom:3px;border-radius: 5px;position: relative;background: #FFF;}
.serch-form .textbox {position: absolute;	top: 3px;	left: 8px;	border: 0px;	height: 20px;	width: 305px;	font-weight: bold;outline: none;}
.serch-form .search-button {position:absolute;margin-top:2px;top:3px;right:1px;border:background;height:15px;width:22px;font-weight:bold;background:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yR/r/Ta1klT5AM7h.png);	background-position: -223px -141px;}

/* 사용자 정보 네비게이션 */
.info-nav-wrapper{height:inherit;}
#infoContainer{position:absolute;right:0px;width:360px;height:inherit;}
#global-navigation ul{padding-top:17px;}
#global-navigation ul li{float:left;font-family:'맑은 고딕';font-size:14px;padding:0px 10px;border-left:1px solid #fff;}
#global-navigation ul li:first-child{border-left:none;}

.user-profile-info-container{float:left;width:150px;height:inherit;}
.user-profile-info-container div{float:left;}
.user-profile-image{margin-top:7px;margin-right:10px;}
.user-profile-uri{height:inherit;line-height:55px;}
.user-profile-uri a{font-family:arial;font-size:15px;font-weight:bold;}

/* 헤더에 있는 알림페이지 */
#notificationList {display:none;border:1px solid #ccc;border-bottom-color:#999; background-color:#fff;width:220px;height:100px;position:absolute;top:55px;right:0px;}
