@CHARSET "UTF-8";
/* Modal */
#modal-content{display:none; border-radius:6px;}
.modalcontent{width:380px;}

/* 오른쪽 날짜 선택기 */
#dateSelector{position:absolute;right:0px;width:80px;}
#side {height: 100%;list-style-image: url('../../resources/media/image/sidebar.png');font-size:12px;text-align: left;font-weight: bold;vertical-align: top;}

/* 메인 가운데 내용 */
.main-content-wrapper{width:650px;min-height:300px;margin-left:200px;position:relative;}

/* 그래프 */
#boardListTimelineContainer{width:650px;height:320px;margin-bottom:10px;}


/* 글쓰기 */
#writeTabs{margin-bottom:10px;}
#writeTabs ul{margin:0px;}
#historyWriteForm{position:relative;}
#writeTextarea{padding:5px;border:1px solid #dcdcdc;font-size:12px;height:140px;overflow-y:auto;}
#dropzone{height:150px;position:relative;}
#dropzone .help-message{position:absolute;color:#aaa;right:5px;bottom:5px;font-size:12px;}
#dropzone .placeholder{position:absolute;color:#aaa;left:5px;top:5px;font-size:12px;}

#historyImg:after{content:".";visibility:hidden;display:block;height:0;clear:both;}
#file-list li{float:left;}

/* 게시물 리스트 */
/* 차트 */
#boardListContainer{}
.highcharts-markers{cursor:pointer;}

/* 게시물(하나) 감싸는 컨테이너 */
.group-item-container{position:relative;margin-bottom:20px;background:#fff;border-radius:5px;border:1px solid #ccc;padding:10px}

/* 게시물 컨트롤러 */
.group-item-controller-container{position:absolute;right:10px;top:10px;z-index:10;}
.group-item-controller-container ul li{float:left;margin-left:10px;height:20px;}
.group-item-controller-container ul li a{display:block;height:20px;}
.group-item-controller-container ul li:first-child{margin-left:0px;}

.icon-box{width:20px;height:20px;text-indent:-100000px;font-size:1px;padding:0px;cursor:pointer;border:1px solid #f00;}


.group-item-edit, .one-share, .group-share{background-repeat:no-repeat;background-position:center;}
/* .one-share{background-image:url("../media/image/one-share2.png");}
.group-share{background-image:url("../media/image/one-share2.png");}
.group-item-edit{background-image:url("../media/image/group-item-edit3.png");}
.group-item-delete{background-image:url("../media/image/group-item-delete.png");} */



/* 게시물 각각의 사용자 정보 */
.group-item-user-info-container{position:relative;padding-bottom:10px;margin-bottom:10px;border-bottom:1px solid #ddd;}
.group-item-user-info-container:after{content:".";visibility:hidden;display:block;height:0;clear:both;}
.group-item-user-profile-image-wrapper{float:left;overflow:hidden;height:50px;}
.group-item-user-profile-image-wrapper img{border-radius:100px;background:#fff;width:50px;height:50px;}
.group-item-user-info-wrapper{float:left;padding-left:10px;padding-top:6px;}

.group-item-user-info-wrapper a{display:block;color:#000;font-family:'맑은 고딕';font-size:16px;font-weight:bold;}
.group-item-write-date{font-family:'맑은 고딕';font-size:12px;}

/* 게시물의 내용 */
.group-item-content-wrapper{clear:both;padding:0px 5px;font-size:13px;font-family:'맑은 고딕';margin-bottom:10px;overflow-y:scroll;overflow:hidden;word-wrap:break-word;}
#modal-launcher img{max-width:598px;height:auto;}

/* 게시물 댓글 */


.group-item-reply-write-form-container{clear:both;  background:#ddd;padding:2px 0px;border-radius:3px 3px 0px 0px;margin-bottom:1px;}
.group-item-reply-write-form-container input{border:1px solid #ccc;padding:4px 2px;width:80%;}
.reply-more-btn{text-align:center;margin-top:10px;height:20px;padding:10px;color:#fff;font-weight:bold;}
.image-icon{text-indent:-10000px;background-repeat:no-repeat}
.reply-icon{float:left;padding:2px 2px 2px 4px;width:26px;height:26px;background-image:url("../media/image/mention1.png");background-size:55%;background-position:center}
.reply-message{float:right;border:1px solid #ccc;width:75px;height:24px;margin-top:2px;margin-right:4px;background:#f00;}

.group-item-reply-secition ul li{margin-top:1px;}
.group-item-reply-secition ul li:first-child{margin-top:0px;}
.group-item-reply-container{padding:7px 7px 7px 55px;background:#eee;position:relative;min-height:33px;margin-top:1px;}
.group-item-reply-info-container{position:absolute;left:4px;top:4px;}
.group-item-reply-profile-image span{text-indent:-10000px;font-size:0px;}
.group-item-reply-profile-image img{width:37px;height:37px;border-radius:100px;border:1px solid #777;}

.group-item-reply-content-container{font-size:12px;font-family:'맑은 고딕';}




/* 모달 */
.modal-user-profile-image img{width:45px;height:45px;}





.write-menu-bar{width:100%;background:#dcdcdc;height:40px;}



#historyDate{	display: none;}

#historyImg img{width:78px;height:78px;padding:2px;border:1px solid #eee;margin:4px;}
.image-item{position:relative;}
.image-item .delete-button{display:none;position:absolute;top:7px;right:7px;width:10px;height:10px;background:#f00;z-index:5}


#write{
width: 99%; 
background: #fff; 
margin-top:20px;
margin-bottom: 20px;
border-radius:6px 6px 6px 6px;	
}


.list{
width: 98%;
height:100%;
background: #fff;

border: 1px solid;
border-color: #C5C8CF;
padding: 2px;
}


/* 이모티콘 */
#historyemoticon{
	display: none;
	
}
.emoticon,.edit-emoticon-icon,.modal-edit-emoticon,.emoticonImg{
	
	width: 75px;
	height: 75px;
}
#writeTextarea div{
	clear: both;
}



#myinfo div {
   padding-top: 15px;
   float: left;
}

#alram, #sidemenu1, #sidemenu2, #sidemenu3, #sidemenu4,.share,.modalShare,.modal-Delete,.modal-Edit, #mon :HOVER {
   cursor: pointer;
}

#modal-close {
   cursor: pointer;
}

#modal-close :HOVER {aria-label ="ㅇㅇㅇㅇㅇㅇ";
   
}
.imgBtn{
	float: left;
}

#list {
   width: 98%;
   height: 100%;
   background: #fff;
   border: 1px solid;
   border-color: #C5C8CF;
   padding: 2px;
}

div#list{
   padding: 10px;
}



#editToggle {
   display: none;
   width: 80px;
   height: 50px;
   border: 1px solid;
   border-color: #C5C8CF;
   position: absolute;
   background: #fff;
   margin-right: 20px;
}



#writeicon {
   overflow: hidden;
   margin: auto;
   margin-left:20px;
   clear: both;
   height: 40px;
   background-color: #dcdcdc;
   border-color: #dcdcdc;
   background-color: #dcdcdc;
   color: #fff;
   font-weight: bold;
}

.icon_button {
   width: 40px;
   height: 800px;
   position: relative;
   background: url('../../resources/media/image/writeicon.png');
   float: left;
}

textarea {
   resize: none;
}

#diaryWriteMenu1 , #historyWriteMenu1{
	
}

#diaryWriteMenu1:HOVER , #historyWriteMenu1:HOVER {
   top: -40px;
}

#diaryWriteMenu2 , #historyWriteMenu2 {
   top: -160px;
}

#diaryWriteMenu2:HOVER , #historyWriteMenu2:HOVER  {
   top: -200px;
}

#diaryWriteMenu3 , #historyWriteMenu3 {
   top: -240px;
}

#diaryWriteMenu3:HOVER,#historyWriteMenu3:HOVER  {
   top: -280px;
}

#diaryWriteMenu4 , #historyWriteMenu4 {
   top: -320px;
}

#diaryWriteMenu4:HOVER , #historyWriteMenu4:HOVER  {
   top: -360px;
}

#modal-background {
   display: none;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
  background:#F5F5F5;
  
  
   opacity: 0.8;
   /*  -webkit-opacity: .1; */
   /*   -moz-opacity: .9; 
    filter: alpha(opacity=100); */
   z-index: 50;
}

#modal-content {
   background: #fff;
   display: none;
   height: 520px;
   position: fixed;
   top:10px;
   z-index: 55;
}
#modal-content-view {
   background: #fff;
 display: none;
   height: 520px;
   position: fixed;
   width: 960px;
   z-index: 6;
   border-radius:6px 6px 6px 6px;
}
#modal-background.active, #modal-content.active {
   display: block;
}
#modal-EditTextarea, #editTextarea{
outline:  1px silver dashed;	
	
	
}
.detailContent{
	max-height:150px;
	height:150px;
	overflow-y:auto; 
	
}

/*리플 리스트 출력   */
.replyModalList {
overflow-y: auto;
clear: both;
width: 100%;
height: 135px;
margin: auto;
}
/*말풍선  */
.bubble 
{
position: relative;
width: 94%;
min-height: 30px;
padding: 15px;
background: #FFFFFF;
-webkit-border-radius: 7px;
-moz-border-radius: 7px;
border-radius: 7px;
}

.bubble:after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 8px 12px 8px 0;
border-color: transparent #FFFFFF;
display: block;
width: 0;
z-index: 1;
left: -12px;
top: 11px;
}
/*모달 말풍선*/

.modal-bubble 
{
position: relative;
width: 76%;
height: 40px;
padding: 5px;
background: #e4e4e4;
-webkit-border-radius: 7px;
-moz-border-radius: 7px;
border-radius: 7px;
margin:10px;
float: right;
}
.modal-bubble:after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 8px 12px 8px 0;
border-color: transparent #e4e4e4;
display: block;
width: 0;
z-index: 1;
left: -12px;
top: 10px;
}
#modalemoticon{
	display:none;
float: right;
z-index: 100;
position: absolute;
width: 190px;
left: 965px;
background: #fff;
border-radius: 6px;
top: 0px;
overflow-y: auto;
max-height: 520px;
}
#modal-EditTextarea{
width:380px;
max-height: 140px;
overflow-y:auto;	
}
.modal-reply-profile-img{
width: 40px;
height: 40px;
margin-left: 5px;
margin-top: 7px;
border-radius: 100px;
margin-bottom: 3px;	
	
	
}
