@CHARSET "UTF-8";
/* 헤더/본문/푸터 의 가로 크기 */
.wrapper{width:960px;margin:0px auto;}

/* 헤더의 Bar  */
.header-container{height:57px;  color: #fff;}
.heder-container:after {
   content:"."; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
 
}
#historyWrite{
	display: none;
}
#historyDate{
	
	display: none;
}
/* 헤더에 있는 로고 */
.logo{width: 100px;float:left;  font-size:50px;}

/* 헤더에 있는 알람페이지 */
#alrampage{
	
	color:black;
	border:1px solid;
	border-bottom-color:gray;
    display:none; 
	background-color: #fff ;
	 width: 400px;
	 height: 100px;
	 position:absolute;
	  top:8%;
	  left:55%;
	  z-index: 2;
	
}

#selectpage {
   border-bottom-color: gray;
display: none;
background-color: #fff;
width: 100px;
height: 300px;
position: fixed;
top: 10%;
left: 2%;
z-index: 3;
}
#historyImg img{
width: 80px;
height: 80px;
padding: 7px;	
	
	
}
#dropzone{
	
	border:1px solid;
	border-color: #00B4DB;
	
	
}

#header {background-color:#7F6C62;height: 100px;width: 100%;margin: auto;opacity:0.55}
#Sil{float:left;padding-top:10px;padding-left:100px;color: #fff;font-size: 80px;margin: auto;}
#login{float:right;padding-top:20px;padding-right:50px;color: #fff;margin: auto;}
#header a:LINK {color: #fff;text-decoration: none;}
#header a:visited {color: #fff;text-decoration: none;} 
#header a:hover {color: #fff;text-decoration: none;}
#header a:active { color: #fff;text-decoration: none;}
#videobcg {
	position: absolute;
	top: 0px;
	left: 0px;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -1000;
	overflow: hidden;
}
.list{
width: 98%;
height:100%;
background: #fff;

border: 1px solid;
border-color: #C5C8CF;
padding: 2px;
}
.list div{
   padding: 10px;   
}

/* 이모티콘 */
#historyemoticon{
	display: none;
	
}
.emoticon{
	
	width: 55px;
	height: 55px;
}
#writeTextarea div{
	clear: both;
}
/* ================ DOCK 1 ================ */
#dock { position: relative; top: 150px; }
.dock-container { position: relative; top: -8px; height: 50px; padding-left: 20px; }
a.dock-item { display: block; width: 50px; position: absolute; bottom: 0; text-align: center; text-decoration: none; color: #333; }
.dock-item span { display: none; padding-left: 20px; }
.dock-item img { border: 0; margin: 5px 10px 0px; width: 100%; }

/* ================ DOCK 2 ================ */
#dockContainer { position: fixed; top: 60px; left: 6px; }
/* #jqDock { position: relative; bottom: 48px; }*/
#jqDock li { list-style: none; } 
.jqDockLabel { background: #333; color: #fff; padding: 3px 10px; -webkit-border-radius: 10px; -moz-border-radius: 10px; }
/*  ///////////////////////////////////////////////*/
