@CHARSET "UTF-8";
/* a태그 초기화 */
a, a:hover, a:visited, a:link, a:active, a:focus{text-decoration:none;color:black;}
*{font-family:'맑은 고딕';}

/* 기본메뉴 */
#subNavigationContainer{height:55px;padding-bottom:20px;}
ul.arrowunderline {list-style-type:none;margin:0;}
ul.arrowunderline li {height:55px;float:left;border-right:1px solid skyblue;padding:0px 25px;}
ul.arrowunderline li:first-child {border-left:1px solid skyblue;}
ul.arrowunderline li a, ul.arrowunderline li a:hover, ul.arrowunderline li a:active, ul.arrowunderline li a:visited{color:black;}
ul.arrowunderline li a{display:block;height:51px;line-height:55px;font-family:'맑은 고딕';font-weight:bold;font-size:15px;}
ul.arrowunderline li a:hover {border-bottom:3px solid skyblue;}

.sub-menu{height:54px;border-bottom:1px solid skyblue;background-color:#fff; border-radius: 0px 0px 8px 8px}
.sub-menu2 {position:relative;height:54px;width:100%;display:none;border-bottom:1px solid skyblue;z-index:2;left:0;}
.menu-username {float:left;height:55px;font-weight:bold;font-size:30px;line-height:55px;padding:0px 25px;}

#menu1 .sub-navigation{float:left;}
#menu2 .sub-navigation{position:absolute;right:0px;}

#menu2 .menu-username a{color:#fff;}
#menu2 ul.arrowunderline li a{color:#fff;}



/* Modal */
#modal-content{display:none; border-radius:6px;}
.modalcontent{width:380px;}
/* 가운데 전체 컨테이너 */
.content-container{position:relative;}

/* 왼쪽 사용자 정보 */
#subUserProfileContainer{width:180px;position:absolute;left:0px;}
.sub-user-profile-tip{height:50px; border-radius:6px 6px 0px 0px;}
.sub-user-profile-wrapper{height:180px;background:#fff;border-radius:0px 0px 6px 6px;margin-bottom:10px;}
.sub-user-profile-image-container{position:absolute;top:5px;left:5px;border:1px solid #ddd;border-radius:6px}
.sub-user-profile-image-container img{width:80px;height:80px;border:3px solid #fff;border-radius:5px;vertical-align:middle;}
.sub-user-profile-name{margin-left:100px;padding:12px 0px;font-size:14px;}
.sub-user-proifle-info{font-family:'맑은 고딕';font-size:14px;padding:8px;}
.sub-user-profile-birthday{}

/* */
#locationinfo{font-family:'맑은 고딕';font-size:12px;}
#observinfo{height:160px;}
.weather-info-container:after{content:".";visibility:hidden;display:block;height:0;clear:both;}

/* 오른쪽 날짜 선택기 */
#dateSelector{position:absolute;right:0px;width:80px;}
#side {height: 100%;list-style-image: url('../../resources/media/image/sidebar.png');font-size:12px;text-align: left;font-weight: bold;vertical-align: top;}

/* 가운데 내용 */
.content-wrapper{width:650px;margin-left:200px;position:relative;}

/* 그래프 */
#boardListTimelineContainer{width:650px;height:320px;margin-bottom:10px;}


/* 글쓰기 */
#writeTabs{margin-bottom:10px;}
#writeTabs ul{margin:0px;}
#historyWriteForm{position:relative;}
#writeTextarea{padding:5px;border:1px solid #dcdcdc;font-size:12px;height:140px;}
#dropzone{height:150px;position:relative;}
#dropzone .help-message{position:absolute;color:#aaa;right:5px;bottom:5px;font-size:12px;}
#dropzone .placeholder{position:absolute;color:#aaa;left:5px;top:5px;font-size:12px;}

#historyImg:after{content:".";visibility:hidden;display:block;height:0;clear:both;}
#file-list li{float:left;}

/* 게시물 리스트 */
#boardListContainer{}
.group-item-container{margin-bottom:20px;}


.write-menu-bar{width:100%;background:#dcdcdc;height:40px;}



#historyDate{	display: none;}

#historyImg img{width:78px;height:78px;padding:2px;border:1px solid #eee;margin:4px;}
.image-item{position:relative;}
.image-item .delete-button{display:none;position:absolute;top:7px;right:7px;width:10px;height:10px;background:#f00;z-index:5}


#write{
width: 99%; 
background: #fff; 
margin-top:20px;
margin-bottom: 20px;
border-radius:6px 6px 6px 6px;	
}


.list{
width: 98%;
height:100%;
background: #fff;

border: 1px solid;
border-color: #C5C8CF;
padding: 2px;
}
.list div{
   padding: 10px;   
}

/* 이모티콘 */
#historyemoticon{
	display: none;
	
}
.emoticon{
	
	width: 55px;
	height: 55px;
}
#writeTextarea div{
	clear: both;
}



#myinfo div {
   padding-top: 15px;
   float: left;
}

#alram, #sidemenu1, #sidemenu2, #sidemenu3, #sidemenu4,.share,.modalShare, #mon :HOVER {
   cursor: pointer;
}

#modal-close {
   cursor: pointer;
}

#modal-close :HOVER {aria-label ="ㅇㅇㅇㅇㅇㅇ";
   
}
.imgBtn{
	float: left;
}

#list {
   width: 98%;
   height: 100%;
   background: #fff;
   border: 1px solid;
   border-color: #C5C8CF;
   padding: 2px;
}

#list div {
   padding: 10px;
}



#editToggle {
   display: none;
   width: 80px;
   height: 50px;
   border: 1px solid;
   border-color: #C5C8CF;
   position: absolute;
   background: #fff;
   margin-right: 20px;
}



#writeicon {
   overflow: hidden;
   margin: auto;
   margin-left:20px;
   clear: both;
   height: 40px;
   background-color: #dcdcdc;
   border-color: #dcdcdc;
   background-color: #dcdcdc;
   color: #fff;
   font-weight: bold;
}

.icon_button {
   width: 40px;
   height: 800px;
   position: relative;
   background: url('../../resources/media/image/writeicon.png');
   float: left;
}

textarea {
   resize: none;
}

#diaryWriteMenu1 , #historyWriteMenu1{
	
}

#diaryWriteMenu1:HOVER , #historyWriteMenu1:HOVER {
   top: -40px;
}

#diaryWriteMenu2 , #historyWriteMenu2 {
   top: -160px;
}

#diaryWriteMenu2:HOVER , #historyWriteMenu2:HOVER  {
   top: -200px;
}

#diaryWriteMenu3 , #historyWriteMenu3 {
   top: -240px;
}

#diaryWriteMenu3:HOVER,#historyWriteMenu3:HOVER  {
   top: -280px;
}

#diaryWriteMenu4 , #historyWriteMenu4 {
   top: -320px;
}

#diaryWriteMenu4:HOVER , #historyWriteMenu4:HOVER  {
   top: -360px;
}

#modal-background {
   display: none;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: black;
   opacity: .7;
   /*  -webkit-opacity: .1; */
   /*   -moz-opacity: .9; 
    filter: alpha(opacity=100); */
   z-index: 5;
}

#modal-content {
   background: #fff;
   display: none;
   height: 520px;
   position: fixed;
  
   z-index: 6;
}
#modal-content-view {
   background: #fff;
 display: none;
   height: 520px;
   position: fixed;
   width: 960px;
   z-index: 6;
}
#modal-background.active, #modal-content.active {
   display: block;
}

/*리플 리스트 출력   */
.replyModalList{
overflow-y:auto; 
clear: both;
width: 100%;
height:210px;	
margin: auto;
}


/*왼쪽메뉴 시작  */
#sideProfileImg {
	width:80px;
	height:80px;
	border: 3px solid;
	border-color: #fff;
	border-radius: 6px;
	vertical-align: middle;
	margin-left: 10px;

}
#sideProfileHeader{
position: absolute;
z-index: 0;
width: 230px;
margin-top: 40px;

}

.replyMainList{
background: #e4e4e4; 
width: 99%; 
height: 35px; 
border-bottom: 1px solid;
border-top: 1px solid; 
border-color: #fff;	
}
/* 왼쪽메뉴끝 */
