@CHARSET "UTF-8";
/* --------------------------- 로그인 됐을 때 사용자 정보 섹션에 적용되는 CSS --------------------------- */
/* 왼쪽 사용자 정보 */
#subUserProfileContainer{width:180px;position:absolute;left:0px;z-index:10;top:75px;}

.sub-user-profile-tip{height:50px; border-radius:6px 6px 0px 0px;}
.sub-user-profile-wrapper{padding-top:45px;background:#fff;border-bottom:1px solid #ccc;border-radius:0px 0px 6px 6px;margin-bottom:10px;}
.sub-user-profile-image-container{position:absolute;top:5px;left:5px;border:1px solid #ddd;border-radius:6px}
.sub-user-profile-image-container img{width:80px;height:80px;border:3px solid #fff;border-radius:5px;vertical-align:middle;background:#fff;}
.sub-user-profile-name{padding:4px 8px 4px; font-size:14px;font-family:'맑은 고딕';font-weight:bold;}
.sub-user-profile-name a{color:#000;}
.sub-user-proifle-info{font-family:'맑은 고딕';font-size:14px;padding:4px 8px 10px;}
.sub-user-profile-birthday{}

/* 날씨 정보 */
#locationinfo{font-family:'맑은 고딕';font-size:12px;}
#observinfo{height:160px;}
.weather-info-container:after{content:".";visibility:hidden;display:block;height:0;clear:both;}
