@CHARSET "UTF-8";

.search-content-wrapper {
	border-radius: 0;
	width: 760px;
	margin-left: 200px;
	position: relative;
	background-color: white;
}

.search-detail-info {
	color: #4e5665;
	border: solid 1px #d3d6db;
	-webkit-border-radius: 3px;
	background-color: white;
	width: 363px;
	float: left;
	margin: 0 0 5px 5px;
	padding: 5px;
}

.s-d-i-image-wrapper{height:50px;width:50px;text-align:center;vertical-align:middle;float:left;overflow:hidden;}
.s-d-i-image-wrapper img{width:100%;height:auto;}

.search-detail-info span{
	float: right;
	margin: 10px 2px 0 0;
	font-size : 14px;
	
}
.search-detail-info p{
	float:left;
	margin-top:8px;
	text-decoration: none;
	font-size : 18px;
	margin-left: 5px;
	
}
.search-detail-info p a{
	font-weight: bold;
}
.search-detail-info p a:link {
	color : #4e5665;'
}
.search-detail-info p a:active{
	color : #4e5665;'
}
.search-detail-info p a:visited{
	color : #4e5665;'
}
.search-detail-info p a:hover{
	color : #4e5665;'
}
.add-friendship{
	display: block;
	position: relative;
	padding: 2px 5px;
	border: 1px solid #c6c6c6;
	background: -webkit-linear-gradient(top, #fff 0%, #EEEFF0  100%);
	color: #777;
	cursor: pointer;
}
.wait-friendship{
	font-size : 13px;
}
.delete-friendship{
	display: block;
	position: relative;
	padding: 2px 5px;
	border: 1px solid #c6c6c6;
	background: -webkit-linear-gradient(top, #fff 0%, #EEEFF0  100%);
	color: #777;
	cursor: pointer;
}
.addfriendImg{
	height: 15px;
	width: 15px;
	margin-right: 3px;
}
.minusfriendImg{
	height: auto;
	width: 15px;
	margin-right: 3px;
}