@CHARSET "UTF-8";
/* 알림 페이지 */
.notification-content-wrapper{width:760px;margin-left:200px;position:relative;background:#fff;}

.notification-middle-menu{min-height:500px;}

.notification-list-container{padding:10px 15px;width:510px;display:table-cell;vertical-align:top;height:500px;}
.notification-item-detial-container{padding:20px;width:180px;display:table-cell;vertical-align:top;background:rgba(0,0,0,.07);height:500px;}

.notification-list-container ul{margin:0px -15px 0px -10px;}
.notification-list-header{height:20px;padding:8px 4px 0px 4px;border-bottom:1px solid #ddd;margin-bottom:10px;font-size:11px;font-family:'맑은 고딕';color:#777;'}
.notification-list-header .notification-create-date{padding:0px;}
.notification-list-header .notification-item-code{width:25px;}
.notification-read-confirm{float:right;margin-right:7px;}

.notification-list-title{font-family:'맑은 고딕';font-weight:bold;padding-bottom:15px;}

.notification-read-button{float:right;margin-right:25px;border:1px solid #ddd;background:#fff;border-radius:4px;font-size:10px;width:16px;text-align:center;line-height:16px;}
.notification-read-button.un-read:hover{background:#79bcff;color:#fff;}
.notification-read-button.readed{background:#ccc;cursor:default;border:0px;width:16px;margin-right:26px;}

.notification-item-container{height:16px;font-size:13px;font-family:'맑은 고딕';padding:8px 4px;cursor:pointer;}
.notification-item-container.notification-read{color:#aaa;}
.notification-item-container:hover{background:#f3f3f3;}

.notification-item-selected{background-color:rgba(0,0,0,.07)}
.notification-item-selected:hover{background:rgba(0,0,0,.07)}



.notification-create-date, .notification-item-code, .notification-message{float:left;height:16px;line-height:16px;}
.notification-create-date{padding:0px 7px 0px 9px;width:80px;font-family:arial;}
.notification-message{padding-left:20px;}
.notification-message a{color:black;}
.notification-message a:hover{color:#00f;}

.notification-item-code{width:16px;}
.notice-code{background:#f00;}
.friendship-code{background:url('../../media/image/nFriendImg.png') no-repeat center;background-size:100%}
.share-code{background:url('../../media/image/nshareImg.png') no-repeat center;background-size:85%;}
.reply-code{background:url('../../media/image/nReplyImg.png') no-repeat center;background-size:100%}

.notification-icon{width: 16px;}
.sending-Icon{width: 36px;}

.sending-notification-info{font-size:16px;margin-top:20px;padding:5px 0px 30px 0px;font-family:'맑은 고딕';}
.confirm-button-wrapper button{cursor:pointer;outline:none;margin:0px;width:90px;border-width:1px 1px 1px 0px;border-style:solid;border-color:#ddd;background:#fff;padding:10px 10px;font-family:'맑은 고딕';font-size:14px;}
.confirm-button-wrapper button:first-child{border-left:1px solid #ddd;}
.confirm-button-wrapper button:hover{background:#b14e50;color:#fff;}

.share-confirm-help-message{font-size:13px;font-family:'맑은 고딕';padding:5px 0px;text-align:center;}
.content-thumb{background:#fff;border:1px solid #ccc;border-radius:4px;padding:6px;margin-bottom:20px;font-size:12px;}



.notification-sender-profile-image{padding:0px 0px 6px 0px;border-bottom:1px solid #ccc;}
.notification-sender-profile-image img{width:30px;height:30px;border-radius:100px;margin-right:5px;}
.notification-sender-profile-image span{font-size:13px;font-weight:bold;font-family:'맑은 고딕';line-height:30px;}

.thumb-content{text-overflow:ellipsis;max-height:100px;overflow:hidden;}
.thumb-image-wrapper{padding:10px 0px;text-align:center;}
.thumb-image-wrapper img{max-width:166px;}


.sending-notice-code, .sending-friendship-code, .sending-share-code, .sending-reply-code{width:36px;height:36px;}
.sending-notice-code{}
.sending-friendship-code{background:url('../../media/image/nFriendImg.png') no-repeat center;background-size:100%}
.sending-share-code{background:url('../../media/image/nshareImg.png') no-repeat center;background-size:85%}
.sending-reply-code{background:url('../../media/image/nReplyImg.png') no-repeat center;background-size:100%}

.notification-user-profile-wrapper{}

.notification-user-profile-wrapper{margin-left:-20px;margin-right:-20px;background:#c9ddf1 url('../../media/image/default_cover_3.jpg') no-repeat center;background-size:auto 100%;padding:20px 20px 0px;line-height:100px;text-align:center;}
/* .notification-user-profile-image{margin-left:-20px;margin-right:-20px;background:#c9ddf1 url('../../media/image/default_cover_3.jpg') no-repeat center;background-size:auto 100%;padding:20px 20px 0px;line-height:100px;text-align:center;} */
.notification-user-profile-image img{width:100px;height:100px;border-radius:100px;background:#fff;}

.public-user-info{line-height:normal;margin-top:20px;margin-left:-20px;margin-right:-20px;padding:20px 10px;background:rgba(255,255,255,0.7);font-size:14px;font-family:'맑은 고딕';}
.public-user-info-none{line-height:normal;margin-top:20px;margin-left:-20px;margin-right:-20px;padding:20px 10px;background:rgba(255,255,255,0.7);font-size:14px;font-family:'맑은 고딕';}

.public-user-info-wrapper{padding-bottom:10px;border-bottom:1px solid rgba(255,255,255,0.8);}
.public-user-info-key{font-weight:bold;text-align:left;font-size:13px;padding-top:10px;}
.public-user-info-value{text-align:left;padding-left:20px;}



