@CHARSET "UTF-8";
/* clearfix */
.main-section-container:after{content:".";visibility:hidden;display:block;height:0;clear:both;}

/* 가운데 전체 컨테이너 */
.content-container{position:relative;}

/* 친구 페이지 가운데 컨테이너 */
.friendship-content-wrapper{width:760px;margin-left:200px;position:relative;}

.friend-item-container{position:relative;background:#fff;height:120px;border:1px solid;border-color:#C5C8CF;padding:10px;border-radius:8px;margin-bottom:5px;}
.friend-image-wrapper{position:absolute;}
.friend-image-wrapper img{width:120px;height:120px;}

.friend-item-info-container{margin-left:130px;}
.friend-info-wrapper{font-family:'맑은 고딕';font-size:14px;}

.unfriend-button{display:none;position:absolute;right:10px;top:10px;width:40px;height:40px;border:1px solid #f00;}
