@CHARSET "UTF-8";
/* clearfix */
.main-section-container:after{content:".";visibility:hidden;display:block;height:0;clear:both;}

/* 가운데 전체 컨테이너 */
.content-container{position:relative;}

/* 친구 페이지 가운데 컨테이너 */
.friendship-content-wrapper{width:760px;margin-left:200px;position:relative;}
.friend-item-container:FIRST-CHILD {border : 0;}
.friend-item-container{position:relative;background:#fff;height:120px;border-top:1px solid #C5C8CF;padding:10px;margin-bottom:5px;}
.friend-image-wrapper{position:absolute;}
.friend-image-wrapper img{width:120px;height:120px;}

.friend-item-info-container{margin-left:130px;}
.friend-info-wrapper{font-family:'맑은 고딕';font-size:14px;}

.unfriend-button{display:none;position:absolute;right:15px;top:15px;width:35px;height:35px;cursor:pointer;}
.unfriendImg{width:35px;height:35px;}


.informbox {
	position: relative;
	width: 100%;
	background: #fff;
	border: 1px solid #d3d6db;
	-webkit-border-radius: 3px;
	margin: 0 auto;
	margin-bottom: 40px;	
	overflow: hidden;
}

.informbox_content:after {
	clear:both;
}

.informbox_header {
	padding: 12px;
	border-bottom: 1px solid #d3d6db;
	background: #f6f7f8;
	font-size: 20px;
	vertical-align: bottom;
}
.informbox_header img {
	margin-right: 10px;
}
.informbox_content {
	background-color: white;
}
.nophoto_content{
	height: 50px;
	padding-top:20px;
	text-align: center;
	font-size: 22px;
	font-family: '맑은 고딕';
}
.friend-info-wrapper p{
	margin-left: 15px;
}
.friend-info-wrapper p.friendName{
	margin-bottom: 10px;
	margin-left: 5px;
}
.friend-info-wrapper p a{
	font-weight: bold;
	font-size : 18px;
}
.friend-info-wrapper p a:link {
	color : #3b5998;'
}
.friend-info-wrapper p a:active{
	color : #3b5998;'
}
.friend-info-wrapper p a:visited{
	color : #3b5998;'
}
.friend-info-wrapper p a:hover{
	color : #3b5998;'
}